body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #AAA
}
h1,p,h3{
    text-align:center;
}
a{
    text-decoration: none;
}
#subhead{
    font-style: italic;
}
#tribute-info{
    text-align:center;
}
ul{
    width: fit-content;
    margin: 2rem auto;
}
li{
    text-align: left;
    padding: .5rem;
}
#img-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
img{
    width: 100%;
    max-width: 400px;
    height: auto;
}